.idea
.iml
*.jar
/build
#"файл module2.jar из п 2.1.b по-прежнему не должен игнорироваться"
!**/**/**/module2.jar

/src/main/resources/application-local.properties
/.idea_copy/
!.idea_copy/workspace.xml